# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Ansible temporary files
*.retry

# Ignore local environment files
.env
*.env

# Ignore log files
*.log

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore node_modules if using Node.js
./app/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp